/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .nav .target-links {
    display: flex;
    width: 20%;
    justify-content: space-around;
  }
}
.nav .nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
body {
  background-color: #1D90B7;
}
h1 {
  color: #FFFFFF;
}
.container {
  padding: 0 5%;
}
.container .center {
  padding: 2.5rem 3rem;
  text-align: center;
}
.container .halfs-max {
  border-radius: 10px;
}
.container .feature-info {
  margin: 1.5rem 0;
  color: #FFFFFF;
}
.container .card {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
.container .table {
  margin: 0 auto 1.5rem;
}
.container td {
  font-size: 1.8rem;
  padding: 0.5rem;
}
.container .btn-primary {
  border-radius: 10px;
  background-color: #56c0e4;
  color: #363636;
}
.container .btn-primary:hover {
  background-color: #0092B5;
  color: #FFFFFF;
}
.container .btn {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
}
.container .cta-btn {
  display: block;
  margin: 0 auto;
}
.container .features {
  margin-top: 2.75rem;
}
.container .row {
  display: flex;
}
.container .half-mobile {
  width: 50%;
  height: 50%;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
}
.container .half {
  width: 50%;
}
