/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 500px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav .target-links {
  width: 100%;
  display: flex;
}
@media (min-width: 500px) {
  .nav .target-links {
    display: flex;
    width: 30%;
    justify-content: space-around;
  }
}
.nav .nav-link {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.nav .links-hidden {
  display: none;
}
@media (min-width: 500px) {
  .nav .links-hidden {
    display: block;
  }
}
@media (min-width: 500px) {
  .nav .menu {
    display: none;
  }
}
.nav .brand {
  font-size: 3rem;
}
.home {
  background-color: #1D90B7;
}
.home .cta {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .cta .cta-content {
  text-align: center;
}
.home .cta .cta-content img {
  display: none;
}
.home .cta .cta-content .btn {
  color: white;
  background-color: #0062B5;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  padding: 5px 0 5px 0;
  font-size: 2rem;
}
.home .cta .cta-content h1 {
  font-size: 6rem;
  color: white;
}
.home .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .main-content .content {
  text-align: center;
  margin-top: 40px;
  color: white;
  width: 90%;
}
.home .bottom-content .content {
  text-align: center;
  margin-top: 40px;
  color: white;
}
