.features {
  margin-top: 2.75rem;

  .feature {
    margin: 20px 10%;
    padding: 0 20px 25px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    position: relative;
    height: 50px;
    overflow: hidden;
    box-shadow: 2px 2px 2px lightgrey;

    .feature-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    span {
      font-size: 5rem;
      align-self: baseline;

      
    }
    .btn--grab {
      align-items: flex-end;
      width: 100%;
    }
    .btn--open {
      visibility: hidden;
    }
    .btn--close {
      display: inline-flex;
    }

    .columns-mobile {
      display: flex;
      flex-direction: column;

      @media @desktop {
        flex-direction: row;
      }
    }
    .img-container {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: auto;

      order: -1;

      @media @desktop {
        order: 0;
      }
    }
    .img-thumb {
      max-width: 100%;
      display: inline-flex;

      @media @desktop {
        width: 100%;
        height: auto;


      }
      
    }
    .half {
      max-width: 100%;
    }

    h2 {
      color: @bg-color;
      font-size: 28px;
      padding-bottom: 1rem;
      margin: 15px 0 0;
      display: inline-block;
    }
    .row {
      padding-top: 2.5rem;
    }
  } // feature end

  .feature-open {

    height: 645px;

    @media @desktop {
      height: 425px;
    }
    
  }
}
