
// not sure wether top 2 will go in container or not yet..
.main-container {

    background-color: #008FB3;
  
    .nav {
        margin-top: 2.5rem;
        align-items: center;
        
        
    }

    padding: 0 5%;

    .center {
        padding: 2.5rem 3rem;
        text-align: center;
    }

    body {
        background-color: @bg-color;
     }
     
     
     h1 {
         color: @white;
     }
     header {
         margin-bottom: 2.5rem;
         padding-bottom: 2.25rem;
         border-bottom: @border;
         width:100%;
     }
    
    .halfs-max {
        border-radius: 10px;
    }

    .features-cta-section {
        border-bottom: 2px solid @white;
        padding-bottom: 2.5rem;

        @media @desktop {
            display: flex;
        }
    }
    
    .feature-info {
        margin: 1.5rem 0;
        color: @white;
    }
    
    .card {
        background-color: @white;
        border-radius: 10px;
        padding: 1.5rem 1rem;
    }

    .feature-list {
        
    }
    
    .table {
        margin: 0 auto 1.5rem;

        td {
            font-size: 1.8rem;
            padding: 0.5rem;
        }
    }
    
    .features-cta-section {
        border-bottom: 2px solid @white;
        padding-bottom: 2.5rem;
        margin-bottom: 2.75rem;
      }
      .feature-section {
        @media @desktop {
          display: flex;
        }
    
        .cta-phrase {
          @media @desktop {
            order: -1; // first item
    
            border: 1px solid red;
            align-self: flex-start;
            width: 50%;
            flex-direction: column;
            display: inline-flex;
          }
        }
        .cta-img {
          @media @desktop {
            max-width: 45%;
            order: 10; //third item
          }
        }
        .cta-img-mobile {
            @media @desktop {
                display: none;
            }
        }

        .cta-info {
          @media @desktop {
            order: 3; // second item
    
            display: inline-flex;
            flex-direction: column;
            align-self: flex-end;
          }
        }
      }
    

    // CTA BUTTON 
    .btn-primary {
        border-radius: 10px;
        background-color: lighten(@bg-color, 20%);
        color: @mine-shaft;
        
    
        &:hover {
            background-color: @btn-primary;
            color: @white;  
        }
    }
    .btn {
        font-size: 2.5rem;
        padding: 0.5rem 1rem;
    }
    .cta-btn {
        display: block;
        margin: 0 auto;
    }
    
    .features {
        margin-top: 2.75rem;
    }
    
    .row {
        display: flex;
        margin-bottom: 2.75rem;

        .img-thumb {
            padding: 0.25rem;
            border-radius: 0.5rem;
            max-width: 100%;
            height: auto;
            
        }
        .half {
           max-width: 50%;
        }
        .pad {
            padding: 0 1.25rem 0 1.25rem;

        }
    }
}



