body {
   background-color: @bg-color;
}

h1 {
    color: @white;
}




.container {
    padding: 0 5%;
}

.center {
    padding: 2.5rem 3rem;
    text-align: center;
}

.halfs-max {
    border-radius: 10px;
}