.home{
 background-color:@bg-color;
 
 .cta{
  margin-top:30px;
  display:flex;
  flex-direction: column;
  align-items: center;
  .cta-content{
   
      text-align: center;
      img{
       display:none;
      }
      .btn{
       color:white;
       background-color:#0062B5;
       border:none;
       border-radius: 5px;
       margin-top:20px;
       width:100%;
       padding:5px 0 5px 0;
       font-size:2rem;
      }
   h1{
    font-size:6rem;
    color:white;
   }

  }
 }//end cta

 .main-content{
  display: flex;
  flex-direction:column;
  align-items: center;
  
  


  .content{
   text-align:center;
   margin-top:40px;
   color:white;
   width:90%;
   
  }
  
 }//end main-content
.bottom-content{
 .content{
  text-align:center;
  margin-top:40px;
  color:white;
  color:white;
 }
}
}