.home {
    background-color: @bg-color;



    h2 {
        font-family   : 'Pacifico', cursive;
        padding-bottom: 20px;

    }

    .cta {

        @media @desktop {

            padding            : 100px 0;
            background-image   : url("/imgs/worldA.png");
            background-repeat  : no-repeat;
            background-position: center;
            background-size    : contain;
        }

        margin-top    :30px;
        display       :flex;
        flex-direction: column;
        align-items   : center;

        .cta-content {
            padding-bottom : 30px;
            width          : 100%;
            text-align     : center;
            display        : flex;
            justify-content: center;
            text-shadow    : 0px 2px 3px rgba(255, 255, 255, 0.9);

            @media @desktop {

                width          : 80%;
                display        : flex;
                justify-content: flex-start;


            }

            .content-wrapper {
                width        : 50%;
                border-radius: 15px;

                @media @desktop {
                    padding: 25px;
                }


                .btn {

                    color           : #3f3f46;
                    background-color: #98cb6c;
                    border          : none;

                    margin-top: 20px;
                    width     : 100%;
                    padding   : 5px 0 5px 0;
                    font-size : 2rem;
                }

                h1 {

                    padding-top: 20px;
                    font-family: 'Pacifico', sans-serif;

                    font-size: 4rem;
                    color    : #3f3f46;

                    @media @desktop {
                        font-size: 8rem;
                    }
                }

            }

        }
    }

    //end cta


    .main-content {
        color           : white;
        text-shadow     : 0px 2px 3px rgba(0, 0, 0, 1);
        background-color: #98cb6c;
        display         : flex;
        flex-direction  : column;
        align-items     : center;

        @media @desktop {
            width      : 100%;
            align-items: left;
            background : linear-gradient(-45deg,
                    rgb(53, 134, 84),
                    #98cb6c 500px,
                    #2d474f 500px);
        }



        .content {

            margin-top: 40px;
            color     : white;
            width     : 90%;

            text-align: center;

            @media @desktop {
                width     : 90%;
                text-align: left;

                &:nth-child(2) {
                    text-align: right;
                }

            }

        }

    }


    //end main-content
    .bottom-content {
        .testimonials {
            padding-top: 50px;
        }

        .content {
            text-align: center;
            color     : white;

        }

        .cards {
            margin-top    : 50px;
            display       : flex;
            flex-direction: column;

            h2 {
                margin-top: 20px;
            }

            .content {
                background: linear-gradient(#2a494f,
                        #24576b 100px);
                padding: 40px 10px;
                border : 20px solid @bg-color;


            }

            @media @desktop {
                flex-direction: row;


                .secure {}
            }
        }

        .testimonials1 {
            width        : 25%;
            border-radius: 50%;
        }
    }
}