.home{
 background-color:@bg-color;

 .cta{
  margin-top:30px;

  .cta-content{
      display: flex;
      flex-direction:column;
      justify-content: center;
      img{
       display:none;
      }
      .btn{
       width:20%;
      }
   h2{

   }

  }
 }
}